/*ENCABEZADOO*/
.logo{
    width: 150px;
    height: 10%;
}
.encabezado {
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

.encabezado .contenido-header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}

.encabezado .contenido-header h1 {
    text-align: center;
    color: red;
}

.encabezado .contenido-header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}

.encabezado .contenido-header nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0)0;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
}

.encabezado .contenido-header nav ul li a:hover{
    color: rgb(255, 240, 240);
}

.encabezado .contenido-header .redes a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    transition: .5s;
}

.encabezado .contenido-header .redes a:hover{
    color: rgb(0, 255, 149);
}

#icono-nav {
    color: #fff;
    display: none;
}





.presentacion a{
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 10px 15px !important;
     border: 2px solid #000000;
     
    background-color: #000000;
    border-radius: 50px;
}

.presentacion a:hover{
    background-color: rgb(112, 0, 88);
         border: 2px solid rgb(255, 255, 255);

}

