.poke-card{
    background-color: rgb(255, 255, 255);
    border: 1px solid #948686;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 20px;
    color: #000000;
    width: 180px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(0);
    transition: 
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    &:hover{
        transform: translate(-8px) scale(1.02);
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.966);
    }
}